<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../style/StyleGaleria.css" type="text/css">
    <title>Capitán de la reforma</title>
</head>
<body>
    <header>
        <nav class="hover">
            <img class="logo" src="../img/LogoCapitan.png" alt="logo reforma" width="3264" height="3264">
     
            <ul>
                <li><a class="hover" href="../index.html">Inicio</a></li>
                <li><a class="hover aqui" href="#">Galería</a></li>
                <li><a class="hover" href="presupuesto.html">Presupuesto</a></li>
                <li><a class="hover" href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
        <div>
            <h2>Galería</h2>
        </div>
    </header>
    <main>
        <div><img class="imggaleria" src="../img/CanalAireTerminado.jpg" alt=""></div>
        <div class="img1"><img class="imggaleria" src="../img/ColgadoVertical.jpg" alt=""></div>
        <div class="img2"><img class="imggaleria" src="../img/ColocandoImprimacion.jpg" alt=""></div>
        <div class="img3"><img class="imggaleria" src="../img/ColocandoMediacaña.jpg" alt=""></div>
        <div><img class="imggaleria" src="../img/CubiertaTanqueDañada.jpg" alt=""></div>
        <div class="img4"><img class="imggaleria" src="../img/CubiertaTanqueReparada.jpg" alt=""></div>
        <div class="img5"><img class="imggaleria" src="../img/EspacioImprimado.jpg" alt=""></div>
        <div><img class="imggaleria" src="../img/FachadaVinotinto.jpg" alt=""></div>            <div><img src="../img/pisoTerminado.jpg" alt=""></div>
        <div class="img6"><img class="imggaleria" src="../img/MallaDeProteccion.jpg" alt=""></div>
        <div class="img8"><img class="imggaleria" src="../img/rodilloImprimacion.jpg" alt=""></div>
        <div class="img7"><img class="imggaleria" src="../img/MallaDeProteccion2.jpg" alt=""></div>
    </main>
    <footer>
        <div class="infoPie">
            <a href="#">Aviso legal</a>
            <a target="_blank" href="https://www.google.es/maps/@28.1075026,-15.4155992,15z?hl=es&entry=ttu&g_ep=EgoyMDI0MDkyNS4wIKXMDSoASAFQAw%3D%3D">Dirección</a>
        </div>
        <p>&#169; 2024 Capitán de la reforma</p>
        <ul>
            <li><a target="_blank" href="https://www.facebook.com/">
                <img class="icono1" src="../img/facebook.png" alt="">
            </a></li>
            <li><a target="_blank" href="https://www.instagram.com/">
                <img class="icono2" src="../img/Instagram.png" alt="">
            </a></li>
        </ul>
    </footer>
    
</body>
</html>
